{
	# admin 0.0.0.0:2019
	admin off
}

# 反向代理
example.com {
	encode gzip
	reverse_proxy localhost:8066 {
		header_up Host {upstream_hostport}
	}
}

*.example.com {
	tls {
		# 对应 docker-compose.yml : CF_API_TOKEN
		# 好像是泛域名的时候需要填写
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	encode gzip
	reverse_proxy localhost:8066 {
		header_up Host {upstream_hostport}
	}
}

# web
example.com {
	encode gzip
	# hosted 网页
	handle {
		root * /web
		try_files {path} /index.html
		file_server
	}
	# 根据 path 转发
	handle /api/* {
		reverse_proxy neuz-api:5005
	}
	handle /reportTemplate/* {
		reverse_proxy neuz-api:5005
	}
	handle /Upload/* {
		reverse_proxy neuz-api:5005
	}
	handle /hubs/* {
		reverse_proxy neuz-api:5005
	}
}
